h1 {
	max-width: 940px;
	font-size: 2.5em;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	line-height: 1.1;
	margin: 40px 0;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contenedorPrincipal {
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
