.app {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
}

h1 {
	width: 100%;
	max-width: 1200px;
	font-size: 1.8em;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	line-height: 1.1;
	margin: 40px 0;
}

.contenedorPrincipal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/* Media Queries */
@media all and (max-width: 768px) {
	.app {
		max-width: 700px;
	}

	h1 {
		max-width: 700px;
		font-size: 1.3em;
		padding: 7px;
	}
}
